body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color: #a7a1ae;
    background-color: #1f2739;
}

table {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}

thead tr>* {
    background: #29385b;
    color: #e36c72;
}

thead tr>*:first-child {
    border-radius: 10px 0 0 0;
}

thead tr>*:last-child {
    border-radius: 0 10px 0 0;
}

th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #185875;
}

th,
td,
tr {
    overflow: hidden;
    text-overflow: ellipsis;
}

td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0e1119;
    -moz-box-shadow: 0 2px 2px -2px #0e1119;
    box-shadow: 0 2px 2px -2px #0e1119;
}

td,
th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
}

tr:nth-child(odd) {
    background-color: #323c50;
}

tr:nth-child(even) {
    background-color: #2c3446;
}

th {
    background-color: #1f2739;
}

td:first-child {
    color: #fb667a;
}

tr:hover {
    background-color: #464a52;
    -webkit-box-shadow: 0 6px 6px -6px #0e1119;
    -moz-box-shadow: 0 6px 6px -6px #0e1119;
    box-shadow: 0 6px 6px -6px #0e1119;
}

td:hover {
    background-color: #fff842;
    color: #403e10;
    color: red;

    box-shadow: #7f7c21 -1px 1px,
        #7f7c21 -2px 2px,
        #7f7c21 -3px 3px,
        #7f7c21 -4px 4px,
        #7f7c21 -5px 5px,
        #7f7c21 -6px 6px;
    transform: translate3d(6px, -6px, 0);
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}